<div class="modal-header" ng-controller="WebContentCtrl as vm">
    <h2 ng-bind="vm.title"></h2>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form">

        <fieldset>


            <div class="form-group">
                <label for="contentType">Type</label>
                <select id="contentType" name="contentType" class="form-control"
                        ng-model="vm.contentType"
                        ng-options="contentType for contentType in vm.contentTypes">
                   
                   
                </select>
            </div>
            <div class="form-group">
                <label for="title">Title</label>
                <input id="title" ng-bind="vm.title" class="form-control" />
            </div>
            <div class="form-group">
                <label for="subtitle">Sub-Title</label>

                <input id="subTitle" ng-model="vm.subtitle" class="form-control" />
            </div>

            <div class="form-group">
                <label for="body">Body</label>
                <textarea id="body" ng-model="vm.body" rows="4" class="form-control" />

            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input id="location" ng-model="vm.location" class="form-control" />

            </div>
            <div class="form-group">
                <label for="dateAndTime">Date and Time</label>
                <input id="dateAndTime" ng-model="vm.dateAndTime" class="form-control" />

            </div>

            <div class="btn-group">
                <button id="edit" class="btn btn-primary">Save</button>
                <button id="cancel" class="btn btn-primary">Cancel</button>

            </div>


        </fieldset>
    </form>

</div>